  .iframe-content {
      width: 100%;
      height: 75vh;
      border: none;
    }

    /* ===== SIDEBAR COLLAPSABLE ===== */
    .sidebar {
      width: 220px;
      transition: width .3s ease;
      overflow-x: hidden;
    }

    .sidebar.collapsed {
      width: 60px;
    }

    .sidebar .nav-link {
      color: #333;
      display: flex;
      align-items: center;
    }

    .sidebar .nav-link:hover {
      background: #f1f1f1;
    }

    /* Ocultar textos */
    .sidebar.collapsed .nav-link span,
    .sidebar.collapsed .sidebar-heading,
    .sidebar.collapsed h6 {
      display: none;
    }

    /* Centrar iconos */
    .sidebar.collapsed .nav-link {
      justify-content: center;
    }

    .sidebar .nav-link i {
      min-width: 24px;
      text-align: center;
    }